.cart{
  background-color:rgb(255, 216, 20);
  color:black;
  border-style:none;
  font-family:arial;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:40px;
  padding-right:40px;
  border-radius:20px;
  font-size:15px;;
 }
 .request{
  color:white;
  background-color:black;
  font-family:arial;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:15px;
  padding-left:15px;
  border-radius:5px;
  border-style:none;
  font-weight:bold;
 }
 .schedule{
  padding-top:10px;
  padding-bottom:10px;
  padding-right:15px;
  padding-left:15px;
  border-radius:5px;
  color:black;
  border-style:none;
  font-weight:bold;
  background-color:rgb(230,230,230);
 }
 .game{
  padding:10px;
  border-style:none;
  background-color:rgb(230,230,230);
  border-radius:5px;
 }
 .game1{
  background-color:black;
  color:white;
  border-radius:5px;
 }